<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inc108.android.fivethings" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstThing"
            android:label="@string/title_activity_first_thing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inc108.android.fivethings.MainActivity" />
        </activity>
        <activity
            android:name=".SecondThing"
            android:label="@string/title_activity_second_thing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inc108.android.fivethings.MainActivity" />
        </activity>
        <activity
            android:name=".ThirdThing"
            android:label="@string/title_activity_third_thing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inc108.android.fivethings.MainActivity" />
        </activity>
        <activity
            android:name=".FourthThing"
            android:label="@string/title_activity_fourth_thing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inc108.android.fivethings.MainActivity" />
        </activity>
        <activity
            android:name=".FifthThing"
            android:label="@string/title_activity_fifth_thing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inc108.android.fivethings.MainActivity" />
        </activity>
    </application>

</manifest>
